name: Rust

on:
  workflow_dispatch:
  push:
    branches: [main]
    tags:
      - "*.*.*"
  release:
    types: [published]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.91.0

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-latest
          - os: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v5

      - run: rustup override set ${{ env.RUST_VERSION }}

      - name: Build
        run: cargo build

      - name: Run tests
        run: cargo test

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: macos-latest
            target: aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - run: rustup override set ${{ env.RUST_VERSION }}

      - name: Set up cross compilation
        run: rustup target add ${{ matrix.target }}

      - name: Build release binaries
        run: cargo build --release --target ${{ matrix.target }}

      - name: Package binaries
        shell: bash
        run: |
          cd target/${{ matrix.target }}/release
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            7z a ../../../cp2-${{ matrix.target }}.zip cp2.exe
          else
            tar czf ../../../cp2-${{ matrix.target }}.tar.gz cp2
          fi

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            cp2-${{ matrix.target }}.tar.gz
            cp2-${{ matrix.target }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
